 /* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Main */
.img{
    background: url("./ff-main.png")no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    
    /* align-content: center; */
}

.img h1{
    font-size: 51px;
    line-height: normal;
    color: white;
    margin: 50px;
    font-family: "poppins-semibold", "poppins", sans-serif;
    font-weight: 600;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.m-box{
height: 200px;
width: 600px;
/* border: 2px solid black; */
margin-left: 100px;
margin-top: 32vh;
}

.m-box p{
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    color: white;
    font-family: "avenir-lt-w01_85-heavy1475544", "avenir-lt-w05_85-heavy", sans-serif;
}

.btn1{
    height: 50px;
    width: 150px;
    display: block;
    margin: auto;
    border: 1px solid rgb(217, 186, 202);
    border-radius: 50px;
    background-color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: black;
    font-family: "poppins-extralight", "poppins", sans-serif;
}

.btn1:hover{
    background-color: rgba(108, 151, 47, 0.789);
    color: white;
}


/* Block1 */

.block1{
    width: 100vw;
    height: 60vh;
    background-color: rgb(217, 186, 202);
    
    /* border: 2px solid black; */
}

.b-para{
    height: 50vh;
    width: 80vw;
    /* border: 1px solid black; */
    margin-left: 60px;
}

.b-para h3{
    font-size: 27px;
    line-height: normal;
    color: rgb(87, 75, 81);
    margin: 50px;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    font-weight: 100;
    display: block;
    margin:  auto;
    text-align: center;
}

.b-para p{
    margin-top: 40px;
    font-size: 23px;
    line-height: normal;
    font-weight: 400;
    color: white;
    font-family: "avenir-lt-w01_85-heavy1475544", "avenir-lt-w05_85-heavy", sans-serif;
}


/* Block2 */
.block2{
    width: 100vw;
    height: 73vh;
    background-color: rgb(217, 186, 202);
    /* margin-bottom: 400px; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.para{
    width: 50vw;
    height: 70vh;
    /* border: 2px solid black; */
}

.para h3{
    font-size: 29px;
    line-height: normal;
    color: rgb(87, 75, 81);
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    font-weight: 100;
}

.para p{
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color:white;
    font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_35-light", sans-serif;
}

.img2{
    width: 35vw;
    height: 70vh;
    /* border: 2px solid black; */
}

.b-img{
    width: 35vw;
    height: 69vh;
}


/* Block3 */
.block3{
    width: 100vw;
    height: 55vh;
    background-color: rgb(217, 186, 202);
    /* border: 2px solid black; */
}

.btn2{
    height: 70px;
    width: 280px;
    display: block;
    margin:  auto;
    border: 1px solid rgb(217, 186, 202);
    border-radius: 50px;
    background-color: white;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: rgb(217, 186, 202);
    font-family: "poppins-extralight", "poppins", sans-serif;
}

.btn:hover{
    background-color: rgba(108, 151, 47, 0.789);
    color: white;
}


.block3 p{
    font-weight: 200;
    font-size: 18px;
    line-height: 29px;
    color:black;
    font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_35-light", sans-serif;
    text-align: center;
    display: block;
    margin:50px auto;
    
}