
/*  Img*/

.img {
    height: 90vh;
    width: 100vw;
    border: 3px solid rgb(243, 239, 239);
    background: url(./1st.webp) no-repeat;
    background-size: cover;
    background-position: center;
    align-content: center;

}

.img h1 {
    text-align: center;
    color: white;
    font-size: 100px;
   


}



.maintext {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 350px;
    /* border: 2px solid black; */
    align-content: center;
}

.text {
    height: 250px;
    width: 500px;
    /* border: 2px solid black; */
    align-content: center;
}

.text h1 {
    font-family: poppins-semibold, poppins, sans-serif;
    color: rgb(220, 182, 201);
    font-style: normal;
    line-height: 30px;
    font-size: 52px;
    font-weight: 600;

}




form {
    /* border: 2px solid black; */
    height: 20vh;
    width: 26vw;
    margin-top: 50px;
}

.in {
    color: rgb(220, 182, 201);
    margin: 10px;
    height: 10vh;
    width: 200px;
    border: 2px solid rgb(250, 248, 249);
    box-shadow: 0px 1px 0px 0px rgb(163, 137, 150);
    /* border-bottom: 2px solid rgb(220, 182, 201); */
}

.in:hover {
    border: 1px solid rgb(126, 192, 246);
}


.sbutten {
    border-radius: 50px;
    border: 2px solid rgb(163, 137, 150);

    /* border-color: rgb(163, 137, 150); */
    height: 30px;
    width: 90px;
    background-color: white;
}


/* Text1 */
.main1 {
    height: 530px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;



}

.about {
    margin: 100px 70px 0px 80px;
    padding: 10px;
    /* border: 1px solid black; */
}

.about h1 {
    font-family: poppins-black, poppins, sans-serif;
    font-size: 50px;
    line-height: 80px;
    font-weight: 900;
    color: rgb(220, 182, 201);
    /* align-content: center; */
    text-align: center;

}

.about p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(156, 151, 154);
    font-size: 20px;
    line-height: 30px;


}

.sbutten1 {
    background-color: rgb(220, 182, 201);
    border-radius: 50px;
    border: 1px solid white;
    width: 150px;
    padding: 11px;
    color: white;
    margin-left: 100px;
}

.text1 {
    height: 250px;
    width: 500px;
    /* border: 2px solid black; */
    align-content: center;
}


.about2 img {
    height: 530px;
    width: 640px;
    align-content: center;
    /* border: 2px solid black; */
    margin: 0px 0px 0px 10px;


}
.mainicon {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
}

.mainicon img {
    height: 100px;
    width: 100px;
}

.mainicon1 {
    height: 510px;
    /* border: 2px solid black; */
    margin: 36px;
    padding: 14px;
    text-align: center;

}

.mainicon h1 {
    font-style: normal;
    color: rgb(92, 92, 92);
    font-size: 28px;
    font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c, wf_a74f873dcc86410db98316fe5, orig_visia_pro_regular;
}

.mainicon p {
    margin-top: 50px;
    align-content: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    color: rgb(105, 103, 104);
    font-style: normal;
    font-family: wfont_e7949c_a74f873dcc86410db98316fe5e7ca66c, wf_a74f873dcc86410db98316fe5, orig_visia_pro_regular;
}

.mainicon p a {
    text-decoration: none;
    color: rgb(105, 198, 229);
}