

.box {
    height: 59vh;
    width: 32vw;
    /* border: 2px solid black; */
    position: relative;
    /* display: inline-block; */
    margin-bottom: 22px;
    margin-right: 15px;
}

.img {
    height: 59vh;
    width: 32vw;
    margin: -2px;
}

.block {
    height: 59vh;
    width: 32vw;
    /* border: 2px solid black; */
    background-color: rgba(0, 0, 0, 0.557);
    position: absolute;
    z-index: 10;
    top: 0vh;
    margin: 0px;

}

.top {
    height: 7vh;
    width: 29vw;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px !important;
    margin: auto;
}

.time {
    height: 7vh;
    width: 10vw;
    margin-left: 10px;
    /* border: 2px solid red; */
}

.time p {
    color: white;
    font-size: 12px;
    line-height: 2vh;
    /* border: 1px solid pink; */
    margin-top: -10px;
    text-align: left;
}

.i {
    height: 7vh;
    width: 10vw;
    margin-right: 10px;
    /* border: 2px solid red;  */
    /* align-content: center; */
}

.i p {
    color: white;
    font-size: 24px;
    line-height: normal;
    text-align: end;
    margin-top: -10px;

}


.bottom {
    height: 25vh;
    width: 32vw;
    /* border: 2px solid green; */
    margin-top: 34vh !important;
    margin: auto ;
    align-content: end;
    margin-left: -445px !important;
}

h1 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-align: left;

}


.head {
    color: white;
    width: 27vw;
    margin: 10px auto;
    padding-bottom: 0px;
    border-bottom: 1px solid white;
}


.review {
    height: 5vh;
    width: 28vw;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.eye {
    height: 5vh;
    width: 10vw;
    /* border: 2px solid red; */
    align-items: end;
}

.eye p {
    color: white;
    text-align: left ;
    line-height: normal;
    margin-top: -20px;
    font-size: 14px;

}

.heart {
    height: 5vh;
    width: 10vw;
    /* border: 2px solid red; */
    align-content: center;
}

.heart p {
    color: white;
    text-align: end;
    line-height: normal;
    margin-top: -20px;
    font-size: 14px;
}